$primary-color: #FBBB43;
$dark-bg: #0D0A0B;
$card-bg: #141111;
$border-color: #3A3737;
$text-light: #F3EFF5;
$text-gray: #878787;

$font-main: 'Poppins', sans-serif;
$font-accent: 'Kelly Slab', cursive;

$header-height: 70px;